.quiz-container {
    background-color: #987676;
    margin: 0 auto;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    color: #000000;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}



.answer-option { 
    display: flex;
    align-items: center;
    gap: 15px;
}

input[type="radio"] {
   accent-color: #4CAF50;
   cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}